apiVersion: batch/v1
kind: Job
metadata:
  name: migrate-assist
spec:
  template:
    spec:
      containers:
        - name: migrate-assist
          image: {{.Values.imageAssist | quote}}
          command: ["yarn", "migrate", "deploy"]
          env:
            - name: "DATABASE_URL"
              value: {{.Values.assist.databaseUrl}}
      restartPolicy: "OnFailure"
